.password-display {
    font-family: "Josefin_Sans", sans-serif;
    font-size: 30px;
    font-weight: 200;
    border: 1px solid #eaeaea;
    border-radius:5px;
    background-color:#fff;
    height: 5%;
    max-height: 400px;
    margin-bottom: 1 rem;
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 10px;
}

.btn-customized {
    color: #f08a4b;
    background-color: white;
    border-color: #f08a4b;
}

.btn-customized:focus {
    box-shadow: #f08a4b;
    border-color: #f08a4b;
}

.btn-customized:hover {
    color: white;
    background-color: #f08a4b;
    border-color: #f08a4b;
}

.btn-customized::shadow {
    box-shadow: 0 0 0px transparent;
}

.btn-customized:not(:disabled):not(.disabled):active,
.btn-customized:not(:disabled):not(.disabled).active,
.show>.btn-customized.dropdown-toggle {
    color: white;
    background-color: #f08a4b;
    border-color: #f08a4b;
}
