
    <div id="password-display" class="password-display">
        <div class="row align-items-center">
            <div class="col col-10">
                <div id="password-text" [innerHTML]=password></div>
            </div>
            <div class="col">
                <button mat-button class="btn btn-customized"
                 (click)="generateNewPassword()"> Nueva </button>
                <button mat-button class="btn btn-customized"
                 (click)="copyToClipboard()"> Copiar </button>
            </div>
        </div>
    </div>
