.cover-container {
    width: 95%;
    max-width: 1500px;
}

.mx-auto {
    margin-right: 2% !important;
    margin-left: 2% !important;
    margin-top: 5%!important;
}

.p-3 {
    padding: 1rem !important;
}

.cover-heading {
    font-family: "Josefin-sans", sans-serif;
    font-weight: bolder;
    font-size: 58px;
    color: #899878;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 80%;
    max-width: 1200px;
}

.bottom-container {
    background-color: #896978ff;
    border-radius:5px;
    border: 1px;
    margin: 0 auto;
    width: 80%;
    max-width: 1900px;
    height: 80px;
}

.bottom-container-tittle {
    color: #000000;
    font-family: "Nunito", sans-serif;
    margin-top: 8px;
    margin-bottom: 4px;
}

.input-number {
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}

.form-range {
    width: 60%;
    background: transparent;
    height:8px;
    border-radius:5px;
}

.form-range::-moz-range-thumb {
    background-color: #f08a4b;
    border-color: #000000;
}

.form-range::-moz-range-progress {
    background-color: #f08a4b;
    border-color: #000000;
}

.form-range::-moz-range-track {
    background-color: white;
}

.form-select, .input-number {
    color: #f08a4b;
    font-weight: bold;
}
