
<body class="text-center">
    <div class="cover-container p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h1 class="cover-heading">Generador de contraseñas</h1>
            </div>
        </header>
  
        <main role="main" class="inner cover">
            <app-text-display [password]="passwordDisplay.password"></app-text-display>
        </main>

        <footer>
            <div class="bottom-container">
                <div class="row">
                    <div class="col">
                        <p class="bottom-container-tittle">Cantidad de palabras</p>
                        <input id="word-input" value="4" class="input-number" type="number" min="3" max="10"
                         (input)="retrieveWordsNumber($event)" (input)="fixRange($event, 'word-input-range')">
                        <input id="word-input-range" value="4" type="range" class="form-range" min="3" max="10"
                         (input)="fixRange($event, 'word-input')" (input)="retrieveWordsNumber($event)">
                    </div>
                    <div class="col">
                        <p class="bottom-container-tittle">Cantidad de numeros</p>
                        <input id="number-input" value="7" class="input-number" type="number" min="0" max="20"
                        (input)="retrieveNumbersNumber($event)" (input)="fixRange($event, 'number-input-range')">
                        <input id="number-input-range" value="7" type="range" class="form-range" min="0" max="20"
                        (input)="retrieveNumbersNumber($event)" (input)="fixRange($event, 'number-input')">
                    </div>
                    <div class="col">
                        <p class="bottom-container-tittle">Letras mayúsculas</p>
                        <select id="upperCase-input" class="form-select" aria-label="Seleccionar uno"
                         (input)="retrieveUppcasePct($event)">
                            <option value="0">0%</option>
                            <option value="20">20%</option>
                            <option value="40" selected="select">40%</option>
                            <option value="60">60%</option>
                            <option value="80">80%</option>
                            <option value="100">100%</option>
                        </select>
                    </div>
                    <div class="col">
                        <p class="bottom-container-tittle">Símbolo separador</p>
                        <select id="separator-input" class="form-select" aria-label="Seleccionar uno"
                         (input)="retrieveSeparator($event)">
                            <option value="?">?</option>
                            <option value="-" selected="select">-</option>
                            <option value="_">_</option>
                            <option value=",">,</option>
                            <option value="=">=</option>
                            <option value="&">&</option>
                            <option value=".">.</option>
                        </select>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
