/* You can add global styles to this file, and also import other style files */
/* This are the used colors:
    --green: #899878;
    --red: #896978;
    --orange: #F08A4B
    --black: #000000
    --white: #FFFFFF;*/

body {
    background-image: url(./assets/images/memphis-mini-dark.png);
}

@font-face {
    font-family: "Arvo";
    src: local("Arvo"), url(./assets/fonts/Arvo/Arvo-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Josefin_Sans";
    src: local("Josefin_Sans"), url(./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: "Nunito";
    src: local("Nunito"), url(./assets/fonts/Nunito/Nunito-Regular.ttf) format("truetype");
}